Repository AgonisticKatai/team-pulse: changes, and which Codecov flags are due for each by the changed paths.
All: api, web, shared

refactor: team name as a atomic model
  apps/api/src/application/mappers/TeamMapper.ts
  apps/api/src/application/use-cases/CreateTeamUseCase.test.ts
  apps/api/src/application/use-cases/CreateTeamUseCase.ts
  apps/api/src/domain/models/team/Team.test.ts
  apps/api/src/domain/models/team/Team.ts
  packages/shared/src/domain/ids/EntityId.utils.ts
  packages/shared/src/domain/value-objects/team/id/TeamId.test.ts
  packages/shared/src/domain/value-objects/team/id/TeamId.ts
  packages/shared/src/domain/value-objects/team/name/TeamName.schema.ts
  packages/shared/src/domain/value-objects/team/name/TeamName.test.ts
  packages/shared/src/domain/value-objects/team/name/TeamName.ts
  packages/shared/src/domain/value-objects/team/name/TeamName.types.ts
  packages/shared/src/domain/value-objects/user/id/UserId.test.ts
  packages/shared/src/domain/value-objects/user/id/UserId.ts
  packages/shared/src/dtos/team.dto.ts
Due: api, shared

chore: update deps
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

refactor: some changes
  apps/api/src/application/factories/TokenFactory.ts
  apps/api/src/application/mappers/TeamMapper.test.ts
  apps/api/src/application/mappers/TeamMapper.ts
  apps/api/src/application/use-cases/CreateTeamUseCase.ts
  apps/api/src/application/use-cases/CreateUserUseCase.test.ts
  apps/api/src/application/use-cases/CreateUserUseCase.ts
  apps/api/src/domain/models/User.ts
  apps/api/src/domain/models/user/User.test.ts
  apps/api/src/domain/models/user/User.ts
  apps/api/src/domain/models/user/User.types.ts
  apps/api/src/domain/models/user/index.ts
  apps/api/src/domain/repositories/IUserRepository.ts
  apps/api/src/infrastructure/database/repositories/DrizzleRefreshTokenRepository.test.ts
  apps/api/src/infrastructure/database/repositories/DrizzleUserRepository.ts
  apps/api/src/infrastructure/http/routes/auth.test.ts
  apps/api/src/infrastructure/http/routes/protected.test.ts
  apps/api/src/infrastructure/testing/user-builders.ts
  apps/api/src/scripts/seed-super-admin.ts
  apps/web/package.json
  packages/shared/src/domain/value-objects/index.ts
  packages/shared/src/domain/value-objects/user/email/UserEmail.schema.ts
  packages/shared/src/domain/value-objects/user/email/UserEmail.test.ts
  packages/shared/src/domain/value-objects/user/email/UserEmail.ts
  packages/shared/src/domain/value-objects/user/email/UserEmail.types.ts
  packages/shared/src/domain/value-objects/user/role/UserRole.schema.ts
  packages/shared/src/domain/value-objects/user/role/UserRole.test.ts
  packages/shared/src/domain/value-objects/user/role/UserRole.ts
  packages/shared/src/domain/value-objects/user/role/UserRole.types.ts
  packages/shared/src/dtos/auth.dto.ts
  packages/shared/src/dtos/entity-base.dto.ts
  packages/shared/src/dtos/pagination.dto.ts
  packages/shared/src/dtos/team.dto.ts
  packages/shared/src/dtos/user.dto.ts
Due: api, shared

refactor: some changesrefactor: Rename pagination DTOs to PaginationQueryDTO and PaginationMetaDTO
  packages/shared/src/domain/value-objects/common/pagination/Pagination.test.ts
  packages/shared/src/domain/value-objects/common/pagination/Pagination.ts
  packages/shared/src/dtos/auth.dto.ts
  packages/shared/src/dtos/pagination.dto.ts
  packages/shared/src/dtos/team.dto.ts
Due: shared

feat: standardize user roles to lowercase, refactor user entity creation, and update related DTOs and tests
  apps/api/src/domain/models/user/User.test.ts
  apps/api/src/domain/models/user/User.ts
  apps/api/src/domain/models/user/User.types.ts
  apps/api/src/infrastructure/testing/user-builders.ts
  packages/shared/src/dtos/index.ts
  packages/shared/src/testing/constants.ts
  packages/shared/src/testing/dto-builders.ts
Due: api, shared

feat: introduce UserMapper and update CreateUserUseCase to return DTOs with enhanced validation and testing
  apps/api/src/application/mappers/UserMapper.ts
  apps/api/src/application/use-cases/CreateUserUseCase.test.ts
  apps/api/src/application/use-cases/CreateUserUseCase.ts
  apps/api/src/infrastructure/testing/user-builders.ts
  packages/shared/src/dtos/user.dto.ts
  packages/shared/src/testing/dto-builders.ts
Due: api, shared

feat: add DeleteUserUseCase and its tests, and refactor DeleteTeamUseCase tests
  apps/api/src/application/use-cases/DeleteTeamUseCase.test.ts
  apps/api/src/application/use-cases/DeleteUserUseCase.test.ts
  apps/api/src/application/use-cases/DeleteUserUseCase.ts
Due: api

feat: add GetUserUseCase and refactor GetTeamUseCase to use TeamMapper
  apps/api/src/application/use-cases/GetTeamUseCase.ts
  apps/api/src/application/use-cases/GetUserUseCase.test.ts
  apps/api/src/application/use-cases/GetUserUseCase.ts
Due: api

feat: standardize paginated list responses with data and meta fields and sanitize invalid pagination inputs
  apps/api/src/application/mappers/TeamMapper.ts
  apps/api/src/application/use-cases/ListTeamsUseCase.test.ts
  apps/api/src/application/use-cases/ListTeamsUseCase.ts
  apps/api/src/application/use-cases/ListUsersUseCase.test.ts
  apps/api/src/application/use-cases/ListUsersUseCase.ts
Due: api

feat: Implement UpdateUserUseCase and add update method to User domain model for email and role updates
  apps/api/src/application/use-cases/UpdateTeamUseCase.test.ts
  apps/api/src/application/use-cases/UpdateTeamUseCase.ts
  apps/api/src/application/use-cases/UpdateUserUseCase.test.ts
  apps/api/src/application/use-cases/UpdateUserUseCase.ts
  apps/api/src/domain/models/user/User.ts
Due: api

refactor: Introduce RefreshTokenId as a branded type, update IdUtils, and modify authentication DTOs and related logic
  apps/api/src/application/factories/TokenFactory.ts
  apps/api/src/application/use-cases/LoginUseCase.test.ts
  apps/api/src/application/use-cases/LoginUseCase.ts
  apps/api/src/application/use-cases/LogoutUseCase.test.ts
  apps/api/src/application/use-cases/RefreshTokenUseCase.test.ts
  apps/api/src/application/use-cases/RefreshTokenUseCase.ts
  apps/api/src/domain/models/RefreshToken.test.ts
  apps/api/src/domain/models/RefreshToken.ts
  apps/api/src/domain/services/metrics/metrics.config.ts
  apps/api/src/infrastructure/database/repositories/DrizzleRefreshTokenRepository.ts
  apps/api/src/infrastructure/testing/auth-builders.ts
  packages/shared/src/domain/ids/EntityId.utils.ts
  packages/shared/src/domain/ids/index.ts
  packages/shared/src/domain/ids/refresh-token-id/RefreshTokenId.constants.ts
  packages/shared/src/domain/ids/refresh-token-id/RefreshTokenId.ts
  packages/shared/src/domain/ids/refresh-token-id/index.ts
  packages/shared/src/dtos/auth.dto.ts
Due: api, shared

refactor: move RefreshToken domain model to dedicated subdirectory
  apps/api/src/application/factories/TokenFactory.ts
  apps/api/src/domain/models/RefreshToken.test.ts
  apps/api/src/domain/models/RefreshToken.ts
  apps/api/src/domain/models/RefreshToken.types.ts
  apps/api/src/domain/models/refresh-token/RefreshToken.test.ts
  apps/api/src/domain/models/refresh-token/RefreshToken.ts
  apps/api/src/domain/models/refresh-token/RefreshToken.types.ts
  apps/api/src/domain/models/refresh-token/index.ts
  apps/api/src/domain/repositories/IRefreshTokenRepository.ts
  apps/api/src/infrastructure/database/repositories/DrizzleRefreshTokenRepository.test.ts
  apps/api/src/infrastructure/database/repositories/DrizzleRefreshTokenRepository.ts
  apps/api/src/infrastructure/testing/auth-builders.ts
Due: api

chore: update deps
  apps/api/package.json
  apps/web/package.json
  package.json
  packages/mcp-database/package.json
  packages/mcp-testing/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

refactor: update TeamMapper test to reflect PaginationMetaDTO and toPaginatedList output structure changes
  apps/api/src/application/mappers/TeamMapper.test.ts
Due: none

feat: Add error handler types and class exports.
  packages/shared/src/errors/index.ts
Due: shared

refactor: update AuthService tests to use buildUser helper and User domain model instead of TEST_CONSTANTS
  apps/api/src/infrastructure/auth/AuthService.test.ts
Due: none

feat: Export userRoleValues for Drizzle schema enum and update DrizzleUserRepository to use domain primitives
  apps/api/src/infrastructure/database/repositories/DrizzleUserRepository.ts
  apps/api/src/infrastructure/database/schema.ts
  packages/shared/src/domain/value-objects/user/role/UserRole.schema.ts
Due: api, shared

feat: Export userRoleValues for Drizzle schema enum and update DrizzleUserRepository to use domain primitives
  apps/api/src/infrastructure/database/repositories/DrizzleRefreshTokenRepository.ts
  apps/api/src/infrastructure/database/repositories/DrizzleTeamRepository.ts
Due: api

feat: Migrate from Drizzle to Kysely
  apps/api/drizzle.config.ts
  apps/api/drizzle/0000_productive_ultimates.sql
  apps/api/drizzle/0001_burly_landau.sql
  apps/api/drizzle/meta/0000_snapshot.json
  apps/api/drizzle/meta/0001_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/package.json
  apps/api/scripts/copy-migrations.sh
  apps/api/src/domain/models/index.ts
  apps/api/src/domain/models/user/index.ts
  apps/api/src/domain/repositories/IRefreshTokenRepository.ts
  apps/api/src/domain/repositories/ITeamRepository.ts
  apps/api/src/domain/repositories/IUserRepository.ts
  apps/api/src/infrastructure/config/container.ts
  apps/api/src/infrastructure/database/connection.ts
  apps/api/src/infrastructure/database/kysely-schema.ts
  apps/api/src/infrastructure/database/migrate.ts
  apps/api/src/infrastructure/database/migrations/001_initial_schema.ts
  apps/api/src/infrastructure/database/migrator.ts
  apps/api/src/infrastructure/database/repositories/DrizzleRefreshTokenRepository.test.ts
  apps/api/src/infrastructure/database/repositories/DrizzleTeamRepository.test.ts
  apps/api/src/infrastructure/database/repositories/DrizzleUserRepository.test.ts
  apps/api/src/infrastructure/database/repositories/KyselyRefreshTokenRepository.ts
  apps/api/src/infrastructure/database/repositories/KyselyTeamRepository.ts
  apps/api/src/infrastructure/database/repositories/KyselyUserRepository.ts
  apps/api/src/infrastructure/database/schema.ts
  apps/api/src/infrastructure/http/middleware/compression.integration.test.ts
  apps/api/src/infrastructure/http/routes/auth.test.ts
  apps/api/src/infrastructure/http/routes/protected.test.ts
  apps/api/src/infrastructure/testing/test-containers.ts
  apps/api/src/infrastructure/testing/test-helpers.ts
  apps/api/src/scripts/migrate.ts
  apps/api/src/scripts/run-kysely-migrations.ts
  apps/api/src/scripts/run-migrations.ts
  apps/api/src/scripts/seed-super-admin.ts
  pnpm-lock.yaml
Due: api

feat: Refactor database connection types, update DTO schemas, and use UserRole objects for authorization
  apps/api/src/infrastructure/database/migrator.ts
  apps/api/src/infrastructure/database/repositories/KyselyRefreshTokenRepository.ts
  apps/api/src/infrastructure/database/repositories/KyselyTeamRepository.ts
  apps/api/src/infrastructure/database/repositories/KyselyUserRepository.ts
Due: api

feat: update API routes and middleware to use UserRole objects and new DTO schemas, and improve test robustness
  apps/api/src/infrastructure/http/routes/auth.test.ts
Due: none

feat: implement Zod schemas for branded types and JWT payload validation
  apps/api/src/application/factories/TokenFactory.schemas.ts
  apps/api/src/application/factories/TokenFactory.ts
  apps/api/src/infrastructure/auth/AuthService.test.ts
  apps/api/src/infrastructure/auth/AuthService.ts
  apps/api/src/infrastructure/http/middleware/auth.ts
  apps/api/src/infrastructure/http/routes/auth.ts
  apps/api/src/infrastructure/http/routes/protected.test.ts
  apps/api/src/infrastructure/http/routes/teams.ts
  apps/api/src/infrastructure/http/routes/users.ts
  apps/api/src/infrastructure/http/schemas/params.schemas.ts
  docs/design/BRANDED_TYPES_DESIGN.md
  packages/shared/src/domain/ids/refresh-token-id/RefreshTokenId.schema.ts
  packages/shared/src/domain/ids/refresh-token-id/index.ts
  packages/shared/src/domain/index.ts
  packages/shared/src/domain/utils/index.ts
  packages/shared/src/domain/utils/zod-id.factory.ts
  packages/shared/src/domain/value-objects/team/id/TeamId.schema.ts
  packages/shared/src/domain/value-objects/team/id/index.ts
  packages/shared/src/domain/value-objects/user/id/UserId.schema.ts
  packages/shared/src/domain/value-objects/user/id/index.ts
Due: api, shared

feat: export LogContext type from error handler
  apps/api/src/application/factories/TokenFactory.schemas.ts
  apps/api/src/application/factories/TokenFactory.ts
  apps/api/src/domain/models/index.ts
  apps/api/src/infrastructure/auth/AuthService.test.ts
  apps/api/src/infrastructure/database/migrations/001_initial_schema.ts
  apps/api/src/infrastructure/database/migrator.ts
  apps/api/src/infrastructure/database/repositories/KyselyRefreshTokenRepository.ts
  apps/api/src/infrastructure/database/repositories/KyselyTeamRepository.ts
  apps/api/src/infrastructure/database/repositories/KyselyUserRepository.ts
  apps/api/src/infrastructure/http/middleware/auth.ts
  apps/api/src/infrastructure/http/routes/auth.ts
  apps/api/src/infrastructure/http/routes/protected.test.ts
  apps/api/src/scripts/seed-super-admin.ts
  biome.json
  packages/shared/src/domain/ids/refresh-token-id/RefreshTokenId.schema.ts
  packages/shared/src/domain/ids/refresh-token-id/RefreshTokenId.ts
  packages/shared/src/domain/utils/zod-id.factory.ts
  packages/shared/src/domain/value-objects/team/id/TeamId.schema.ts
  packages/shared/src/domain/value-objects/user/id/UserId.schema.ts
  packages/shared/src/dtos/index.ts
  packages/shared/src/dtos/team.dto.ts
  packages/shared/src/dtos/user.dto.ts
  packages/shared/src/errors/index.ts
  packages/shared/src/utils/index.ts
Due: api, shared

docs: Add SCREAMING_ARCHITECTURE_API documentation
  SCREAMING_ARCHITECTURE_API.md
Due: none

docs: add Screaming Architecture visualization
  SCREAMING_ARCHITECTURE_VISUAL.md
Due: none

refactor: Migrate various type definitions from interface to type
  apps/api/src/features/auth/domain/models/refresh-token/RefreshToken.types.ts
  apps/api/src/features/auth/infrastructure/services/auth/AuthService.ts
  apps/api/src/features/teams/domain/models/team/Team.types.ts
  apps/api/src/features/users/domain/models/user/User.types.ts
Due: api

test: add comprehensive unit tests for KyselyRefreshTokenRepository
  apps/api/src/features/auth/infrastructure/repositories/refresh-token/KyselyRefreshTokenRepository.test.ts
Due: none

refactor: Move IPasswordHasher interface from auth domain services to shared security module
  apps/api/src/core/container/container.ts
  apps/api/src/features/auth/application/use-cases/login/LoginUseCase.test.ts
  apps/api/src/features/auth/application/use-cases/login/LoginUseCase.ts
  apps/api/src/features/auth/domain/index.ts
  apps/api/src/features/auth/domain/services/index.ts
  apps/api/src/features/auth/domain/services/password-hasher/index.ts
  apps/api/src/features/auth/infrastructure/services/password-hasher/ScryptPasswordHasher.ts
  apps/api/src/features/users/application/use-cases/create-user/CreateUserUseCase.test.ts
  apps/api/src/features/users/application/use-cases/create-user/CreateUserUseCase.ts
  apps/api/src/shared/index.ts
  apps/api/src/shared/security/IPasswordHasher.ts
  apps/api/src/shared/security/index.ts
Due: api

refactor: introduce feature-scoped DI containers for auth, teams, and users
  apps/api/src/core/app/app.ts
  apps/api/src/core/container/container.ts
  apps/api/src/features/auth/config/auth.container.ts
  apps/api/src/features/auth/config/index.ts
  apps/api/src/features/auth/infrastructure/http/routes/routes.test.ts
  apps/api/src/features/teams/config/teams.container.ts
  apps/api/src/features/users/config/index.ts
  apps/api/src/features/users/config/users.container.ts
  apps/api/src/shared/http/middleware/protected.integration.test.ts
Due: api

feat: Add feature READMEs for users and auth, and repository tests for users and teams
  apps/api/src/features/auth/README.md
  apps/api/src/features/teams/infrastructure/repositories/team/KyselyTeamRepository.test.ts
  apps/api/src/features/users/README.md
  apps/api/src/features/users/infrastructure/repositories/user/KyselyUserRepository.test.ts
Due: api

chore: bump pnpm package manager version to 10.26.2
  package.json
  pnpm-lock.yaml
Due: none

chore: Update build process to directly run Kysely migrations and use path aliases for imports
  apps/api/Makefile
  apps/api/package.json
  apps/api/src/scripts/run-kysely-migrations.ts
Due: api

chore: Simplify build script by removing tsc and directly running migrations with tsx
  apps/api/package.json
Due: none

build: simplify Kysely migration script execution by using tsx directly
  apps/api/Makefile
Due: none

build: replace migration script execution with tsc for build command
  apps/api/Makefile
  apps/api/package.json
Due: none

fix: Add ifNotExists clause to all table and index creation statements in initial schema migration
  apps/api/src/shared/database/migrations/001_initial_schema.ts
Due: api

docs: Add comprehensive README detailing the teams feature's architecture, use cases, and API
  apps/api/src/features/teams/README.md
Due: api

Path conditions:
  api: any of: apps/api/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.config.ts, **/*.d.ts, **/test/**, **/testing/**, **/coverage/**, **/dist/**, **/node_modules/**, **/.github/**
  web: any of: apps/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.config.ts, **/*.d.ts, **/test/**, **/testing/**, **/coverage/**, **/dist/**, **/node_modules/**, **/.github/**
  shared: any of: packages/shared/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.config.ts, **/*.d.ts, **/test/**, **/testing/**, **/coverage/**, **/dist/**, **/node_modules/**, **/.github/**
