Repository AgonisticKatai/team-pulse: changes, and which Codecov flags are due for each by the changed paths.
All: api, web, shared

feat: add Tailwind CSS support and update dependencies in package.json and vite.config.ts
  apps/web/package.json
  apps/web/src/index.css
  apps/web/vite.config.ts
  pnpm-lock.yaml
Due: web

feat: Split tsconfig.json
  apps/web/tsconfig.app.json
  apps/web/tsconfig.json
  apps/web/tsconfig.node.json
Due: none

feat: Implement Shadcn UI setup including a Button component, styling, and utility functions
  apps/web/components.json
  apps/web/package.json
  apps/web/src/components/ui/button.tsx
  apps/web/src/index.css
  apps/web/src/lib/utils.ts
  apps/web/tsconfig.json
  pnpm-lock.yaml
Due: web

feat: Configure Biome to parse CSS Modules and Tailwind directives
  biome.json
Due: none

refactor: Convert functional components to arrow functions
  apps/web/index.html
  apps/web/src/app/App.tsx
  apps/web/src/app/providers/AppProviders.tsx
  apps/web/src/app/providers/QueryProvider.tsx
  apps/web/src/app/router/AppRouter.tsx
  apps/web/src/pages/DashboardPage.tsx
  apps/web/src/pages/LoginPage.tsx
  apps/web/src/pages/NotFoundPage.tsx
  apps/web/src/pages/TeamsPage.tsx
  apps/web/src/pages/UsersPage.tsx
Due: web

feat: Implement a new design system with light/dark themes, base styles, utilities, and animations
  apps/web/src/app/router/AppRouter.tsx
  apps/web/src/components/ui/button.tsx
  apps/web/src/index.css
  apps/web/src/pages/DashboardPage.tsx
  apps/web/src/pages/LoginPage.tsx
  apps/web/src/pages/NotFoundPage.tsx
  apps/web/src/pages/TeamsPage.tsx
  apps/web/src/pages/UsersPage.tsx
  apps/web/src/styles/base/reset.css
  apps/web/src/styles/base/typography.css
  apps/web/src/styles/themes/dark.css
  apps/web/src/styles/themes/light.css
  apps/web/src/styles/themes/tokens.css
  apps/web/src/styles/utilities/animations.css
  biome.json
Due: web

feat: Set up a standardized VS Code development
  .gitignore
  .vscode/README.md
  .vscode/extensions.json
  .vscode/settings.json
  apps/api/http-client/README.md
  apps/api/http-client/settings.example.json
Due: none

chore: update pnpm workspace dependencies and enhance turbo.json configuration
  .gitignore
  README.md
  apps/web/.storybook/decorators/QueryDecorator.tsx
  apps/web/.storybook/decorators/RouterDecorator.tsx
  apps/web/.storybook/main.ts
  apps/web/.storybook/preview.ts
  apps/web/package.json
  apps/web/src/components/ui/button.stories.tsx
  apps/web/src/components/ui/button.test.tsx
  apps/web/src/components/ui/button.tsx
  apps/web/src/styles/themes/README.md
  apps/web/src/styles/themes/tokens.css
  docs/design-system/README.md
  docs/design-system/storybook.md
  docs/design-system/tokens.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.json
Due: web

feat: Add Makefiles for API, Web, MCP Database, MCP Testing, and Shared Package
  Makefile
  apps/api/Makefile
  apps/web/Makefile
  package.json
  packages/mcp-database/Makefile
  packages/mcp-testing/Makefile
  packages/shared/Makefile
Due: none

feat: Refactor Storybook config and enhance design tokens with semantic colors
  apps/web/.storybook/main.ts
  apps/web/src/index.css
  apps/web/src/styles/themes/tokens.css
Due: web

feat: Add dynamic theming documentation with CSS Variables and Tailwind CSS v4
  docs/design-system/theming.md
Due: none

refactor: code structure for improved readability and maintainability
  apps/web/.storybook/main.ts
  apps/web/package.json
  docs/design-system/storybook.md
  pnpm-lock.yaml
Due: none

refactor: Convert Button component from function declaration to arrow function
  apps/web/src/components/ui/button.tsx
Due: web

feat: shared authentication validation rules and schemas, and refactor auth DTOs to use them
  TODO.md
  packages/shared/package.json
  packages/shared/src/dtos/auth.dto.test.ts
  packages/shared/src/dtos/auth.dto.ts
  packages/shared/src/index.ts
  packages/shared/src/validation/auth.rules.ts
  packages/shared/src/validation/index.ts
Due: shared

chore: update deps
  apps/web/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore: update deps
  packages/mcp-database/package.json
  packages/mcp-testing/package.json
Due: none

feat(shared): implement EntityId value object with tests
  packages/shared/package.json
  packages/shared/src/domain/value-objects/EntityId.test.ts
  packages/shared/src/domain/value-objects/EntityId.ts
  packages/shared/src/dtos/index.tsx
  pnpm-lock.yaml
Due: shared

feat(shared): implement EntityId and Role value objects with comprehensive tests
  packages/shared/VALUE_OBJECTS_GUIDE.md
  packages/shared/src/domain/ids.ts
  packages/shared/src/domain/value-objects/EntityId.test.ts
  packages/shared/src/domain/value-objects/EntityId.ts
  packages/shared/src/domain/value-objects/EntityId/EntityId.schema.ts
  packages/shared/src/domain/value-objects/EntityId/EntityId.test.ts
  packages/shared/src/domain/value-objects/EntityId/EntityId.ts
  packages/shared/src/domain/value-objects/EntityId/EntityId.types.ts
  packages/shared/src/domain/value-objects/EntityId/index.ts
  packages/shared/src/domain/value-objects/Role/Role.schema.ts
  packages/shared/src/domain/value-objects/Role/Role.test.ts
  packages/shared/src/domain/value-objects/Role/Role.ts
  packages/shared/src/domain/value-objects/Role/Role.types.ts
  packages/shared/src/domain/value-objects/Role/index.ts
  packages/shared/src/dtos/index.tsx
  packages/shared/src/testing/constants.ts
Due: shared

feat(shared): add Email VO, DTOs, and refactor EntityId/Role with schemas
  packages/shared/package.json
  packages/shared/src/constants/index.ts
  packages/shared/src/constants/validation.constants.ts
  packages/shared/src/domain/value-objects/Email/Email.schema.ts
  packages/shared/src/domain/value-objects/Email/Email.test.ts
  packages/shared/src/domain/value-objects/Email/Email.ts
  packages/shared/src/domain/value-objects/Email/Email.types.ts
  packages/shared/src/domain/value-objects/Email/index.ts
  packages/shared/src/domain/value-objects/EntityId/EntityId.schema.ts
  packages/shared/src/domain/value-objects/EntityId/EntityId.ts
  packages/shared/src/domain/value-objects/Role/Role.schema.ts
  packages/shared/src/domain/value-objects/Role/Role.ts
  packages/shared/src/dtos/auth.dto.ts
  packages/shared/src/dtos/index.ts
  packages/shared/src/dtos/pagination.dto.ts
  packages/shared/src/dtos/team.dto.ts
  packages/shared/src/errors/ValidationError.test.ts
  packages/shared/src/errors/ValidationError.ts
Due: shared

refactor(shared): Standardize validation messages for email, UUID, and role
  packages/shared/package.json
  packages/shared/src/constants/validation.constants.ts
  packages/shared/src/domain/value-objects/Email/Email.schema.ts
  packages/shared/src/domain/value-objects/Email/Email.test.ts
  packages/shared/src/domain/value-objects/EntityId/EntityId.test.ts
  packages/shared/src/domain/value-objects/Role/Role.test.ts
Due: shared

refactor: update use cases tests
  apps/api/src/application/use-cases/CreateTeamUseCase.test.ts
  apps/api/src/application/use-cases/CreateUserUseCase.test.ts
  apps/api/src/application/use-cases/DeleteTeamUseCase.test.ts
  apps/api/src/application/use-cases/DeleteTeamUseCase.ts
  apps/api/src/application/use-cases/GetTeamUseCase.test.ts
  apps/api/src/application/use-cases/GetTeamUseCase.ts
  apps/api/src/application/use-cases/ListTeamsUseCase.test.ts
  apps/api/src/application/use-cases/ListUsersUseCase.test.ts
  apps/api/src/application/use-cases/LoginUseCase.test.ts
  apps/api/src/application/use-cases/LoginUseCase.ts
  apps/api/src/application/use-cases/LogoutUseCase.test.ts
  apps/api/src/application/use-cases/RefreshTokenUseCase.test.ts
  apps/api/src/application/use-cases/RefreshTokenUseCase.ts
  apps/api/src/application/use-cases/UpdateTeamUseCase.test.ts
  apps/api/src/application/use-cases/UpdateTeamUseCase.ts
Due: api

refactor: replace hardcoded role strings with UserRoles constants
  packages/shared/src/domain/value-objects/Role/Role.ts
Due: shared

refactor: update TeamFoundedYear and add dedicated tests
  packages/shared/src/domain/value-objects/common/pagination/Pagination.constants.ts
  packages/shared/src/domain/value-objects/team/founded-year/TeamFoundedYear.schema.ts
  packages/shared/src/domain/value-objects/team/founded-year/TeamFoundedYear.test.ts
  packages/shared/src/domain/value-objects/team/founded-year/TeamFoundedYear.ts
  packages/shared/src/domain/value-objects/team/founded-year/TeamFoundedYear.types.ts
Due: shared

refactor: Update TeamName to use an object structure with dedicated tests
  packages/shared/src/domain/value-objects/team/city/TeamCity.ts
  packages/shared/src/domain/value-objects/team/founded-year/TeamFoundedYear.ts
  packages/shared/src/domain/value-objects/team/name/TeamName.schema.ts
  packages/shared/src/domain/value-objects/team/name/TeamName.test.ts
  packages/shared/src/domain/value-objects/team/name/TeamName.ts
  packages/shared/src/domain/value-objects/team/name/TeamName.types.ts
Due: shared

refactor: Update UserEmail VO
  packages/shared/src/domain/value-objects/user/email/UserEmail.rules.ts
  packages/shared/src/domain/value-objects/user/email/UserEmail.schema.ts
  packages/shared/src/domain/value-objects/user/email/UserEmail.test.ts
  packages/shared/src/domain/value-objects/user/email/UserEmail.ts
  packages/shared/src/domain/value-objects/user/email/UserEmail.types.ts
Due: shared

refactor: Update UserRole VO
  packages/shared/src/domain/value-objects/user/role/UserRole.constants.ts
  packages/shared/src/domain/value-objects/user/role/UserRole.schema.ts
  packages/shared/src/domain/value-objects/user/role/UserRole.test.ts
  packages/shared/src/domain/value-objects/user/role/UserRole.ts
  packages/shared/src/domain/value-objects/user/role/UserRole.types.ts
Due: shared

refactor: lint
  packages/shared/src/dtos/auth.dto.ts
  packages/shared/src/dtos/team.dto.ts
Due: shared

feat: Add method for pagination serialization
  packages/shared/src/domain/value-objects/common/pagination/Pagination.test.ts
  packages/shared/src/domain/value-objects/common/pagination/Pagination.ts
  packages/shared/src/domain/value-objects/common/pagination/Paginations.types.ts
Due: shared

refactor: some updates
  apps/api/src/application/mappers/TeamMapper.test.ts
  apps/api/src/application/mappers/TeamMapper.ts
  apps/api/src/application/use-cases/CreateTeamUseCase.test.ts
  apps/api/src/application/use-cases/CreateTeamUseCase.ts
  apps/api/src/application/use-cases/UpdateTeamUseCase.test.ts
  apps/api/src/domain/models/Team.ts
  apps/api/src/domain/models/Team.types.ts
  apps/api/src/domain/models/team/Team.test.ts
  apps/api/src/domain/models/team/Team.ts
  apps/api/src/domain/models/team/Team.types.ts
  apps/api/src/domain/models/team/index.ts
  apps/api/src/domain/repositories/ITeamRepository.ts
  apps/api/src/infrastructure/database/repositories/DrizzleTeamRepository.ts
  apps/api/src/infrastructure/testing/team-builders.ts
  packages/shared/src/domain/ids/EntityId.types.ts
  packages/shared/src/domain/ids/EntityId.utils.ts
  packages/shared/src/domain/ids/EntityIds.constants.ts
  packages/shared/src/domain/ids/index.ts
  packages/shared/src/domain/value-objects/common/pagination/Pagination.schema.ts
  packages/shared/src/domain/value-objects/team/city/TeamCity.schema.ts
  packages/shared/src/domain/value-objects/team/founded-year/TeamFoundedYear.schema.ts
  packages/shared/src/domain/value-objects/team/founded-year/TeamFoundedYear.test.ts
  packages/shared/src/domain/value-objects/team/founded-year/TeamFoundedYear.ts
  packages/shared/src/domain/value-objects/team/founded-year/TeamFoundedYear.types.ts
  packages/shared/src/domain/value-objects/team/id/TeamId.constants.ts
  packages/shared/src/domain/value-objects/team/id/TeamId.test.ts
  packages/shared/src/domain/value-objects/team/id/TeamId.ts
  packages/shared/src/domain/value-objects/team/id/index.ts
  packages/shared/src/domain/value-objects/team/name/TeamName.schema.ts
  packages/shared/src/domain/value-objects/user/email/UserEmail.schema.ts
  packages/shared/src/domain/value-objects/user/id/UserId.constants.ts
  packages/shared/src/domain/value-objects/user/id/UserId.test.ts
  packages/shared/src/domain/value-objects/user/id/UserId.ts
  packages/shared/src/domain/value-objects/user/id/index.ts
  packages/shared/src/domain/value-objects/user/role/UserRole.schema.ts
  packages/shared/src/dtos/team.dto.ts
  packages/shared/src/testing/helpers.ts
  packages/shared/src/types/Result.ts
  pnpm-lock.yaml
Due: api, shared

chore: update deps
  apps/api/package.json
  apps/web/package.json
  pnpm-lock.yaml
Due: none

refactor(api): remove deprecated models
  apps/api/src/domain/value-objects/City.test.ts
  apps/api/src/domain/value-objects/City.ts
  apps/api/src/domain/value-objects/FoundedYear.test.ts
  apps/api/src/domain/value-objects/FoundedYear.ts
  apps/api/src/domain/value-objects/Pagination.test.ts
  apps/api/src/domain/value-objects/Pagination.ts
  apps/api/src/domain/value-objects/TeamName.test.ts
  apps/api/src/domain/value-objects/TeamName.ts
  apps/api/src/domain/value-objects/index.ts
Due: api

refactor(api): team model improvements
  apps/api/src/domain/models/team/Team.test.ts
  apps/api/src/domain/models/team/Team.ts
  apps/api/src/domain/models/team/Team.types.ts
  apps/api/src/infrastructure/testing/team-builders.ts
  packages/shared/src/domain/value-objects/team/founded-year/TeamFoundedYear.rules.ts
  packages/shared/src/domain/value-objects/team/founded-year/TeamFoundedYear.schema.ts
  packages/shared/src/domain/value-objects/team/index.ts
  packages/shared/src/domain/value-objects/user/index.ts
  packages/shared/src/dtos/auth.dto.ts
  packages/shared/src/dtos/team.dto.ts
  packages/shared/src/index.ts
  packages/shared/src/types/Result.ts
  packages/shared/src/utils/index.ts
  packages/shared/src/utils/merge.test.ts
  packages/shared/src/utils/merge.ts
  packages/shared/tsconfig.json
Due: api, shared

refactor: continues to deprecate founde year and city models
  apps/api/src/domain/models/team/Team.test.ts
  apps/api/src/infrastructure/database/repositories/DrizzleTeamRepository.ts
  apps/api/src/infrastructure/http/routes/protected.test.ts
  docs/api/testing.md
  packages/shared/src/testing/constants.ts
Due: api

Path conditions:
  api: any of: apps/api/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.config.ts, **/*.d.ts, **/test/**, **/testing/**, **/coverage/**, **/dist/**, **/node_modules/**, **/.github/**
  web: any of: apps/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.config.ts, **/*.d.ts, **/test/**, **/testing/**, **/coverage/**, **/dist/**, **/node_modules/**, **/.github/**
  shared: any of: packages/shared/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.config.ts, **/*.d.ts, **/test/**, **/testing/**, **/coverage/**, **/dist/**, **/node_modules/**, **/.github/**
