Repository AgonisticKatai/team-pulse: changes, and which Codecov flags are due for each by the changed paths.
All: api, web, shared

feat(errors): refactor error classes to use private constructors and factory methods
  apps/api/TODO.md
  apps/api/src/application/use-cases/ListUsersUseCase.test.ts
  apps/api/src/domain/errors/DuplicatedError.test.ts
  apps/api/src/domain/errors/DuplicatedError.ts
  apps/api/src/domain/errors/NotFoundError.test.ts
  apps/api/src/domain/errors/NotFoundError.ts
  apps/api/src/domain/errors/ValidationError.test.ts
  apps/api/src/domain/errors/ValidationError.ts
  apps/api/src/infrastructure/testing/test-constants.ts
Due: api

feat(tests): add unit tests for DomainError and its concrete implementations
  apps/api/src/domain/errors/DomainError.test.ts
Due: none

feat(auth): replace password utility functions with BcryptPasswordHasher and update related tests
  apps/api/src/infrastructure/auth/BcryptPasswordHasher.test.ts
  apps/api/src/infrastructure/auth/password-utils.test.ts
  apps/api/src/infrastructure/auth/password-utils.ts
  apps/api/src/infrastructure/database/repositories/DrizzleRefreshTokenRepository.test.ts
  apps/api/src/infrastructure/database/repositories/DrizzleUserRepository.test.ts
  apps/api/src/infrastructure/http/routes/auth.test.ts
  apps/api/src/infrastructure/http/routes/protected.test.ts
  apps/api/src/scripts/seed-super-admin.ts
Due: api

feat(auth): replace BcryptPasswordHasher with ScryptPasswordHasher and update related tests
  apps/api/package.json
  apps/api/src/infrastructure/auth/ScryptPasswordHasher.test.ts
  apps/api/src/infrastructure/auth/ScryptPasswordHasher.ts
  apps/api/src/infrastructure/config/container.ts
  apps/api/src/infrastructure/database/repositories/DrizzleRefreshTokenRepository.test.ts
  apps/api/src/infrastructure/database/repositories/DrizzleUserRepository.test.ts
  apps/api/src/infrastructure/http/routes/auth.test.ts
  apps/api/src/infrastructure/http/routes/protected.test.ts
  apps/api/src/infrastructure/testing/test-constants.ts
  apps/api/src/scripts/seed-super-admin.ts
  pnpm-lock.yaml
Due: api

feat(auth): update ScryptPasswordHasher to include cost, blockSize, and parallelization
  apps/api/src/infrastructure/auth/ScryptPasswordHasher.test.ts
  apps/api/src/infrastructure/auth/ScryptPasswordHasher.ts
Due: api

feat(todos): replace TODO file with detailed technical debt and improvement tasks
  TODO.md
  apps/api/TODO.md
Due: none

feat(docs): recommend OrbStack for macOS users to improve performance
  README.md
Due: none

feat(auth): remove BcryptPasswordHasher implementation in favor of ScryptPasswordHasher
  apps/api/src/infrastructure/auth/BcryptPasswordHasher.ts
Due: api

feat(tests): add environment validation tests and test constants
  apps/api/src/infrastructure/config/env.test.ts
  apps/api/src/infrastructure/testing/test-constants.ts
Due: none

docs(todos): mark validation for environment variables as completed with 26 tests added
  TODO.md
Due: none

refactor(metrics): decouple metrics service from Prometheus implementation
  TODO.md
  apps/api/src/app.ts
  apps/api/src/application/factories/TokenFactory.ts
  apps/api/src/application/use-cases/DeleteTeamUseCase.test.ts
  apps/api/src/domain/errors/DomainError.test.ts
  apps/api/src/domain/models/RefreshToken.ts
  apps/api/src/domain/models/Team.ts
  apps/api/src/domain/models/User.ts
  apps/api/src/domain/services/metrics/ICounter.ts
  apps/api/src/domain/services/metrics/IGauge.ts
  apps/api/src/domain/services/metrics/IHistogram.ts
  apps/api/src/domain/services/metrics/IMetricRegistry.ts
  apps/api/src/domain/services/metrics/IMetricsFactory.ts
  apps/api/src/domain/services/metrics/MetricsCollection.ts
  apps/api/src/domain/value-objects/City.ts
  apps/api/src/domain/value-objects/Email.ts
  apps/api/src/domain/value-objects/EntityId.ts
  apps/api/src/domain/value-objects/FoundedYear.ts
  apps/api/src/domain/value-objects/Pagination.ts
  apps/api/src/domain/value-objects/Role.ts
  apps/api/src/domain/value-objects/TeamName.ts
  apps/api/src/infrastructure/config/container.ts
  apps/api/src/infrastructure/http/middleware/metrics.ts
  apps/api/src/infrastructure/monitoring/MetricsService.test.ts
  apps/api/src/infrastructure/monitoring/MetricsService.ts
  apps/api/src/infrastructure/monitoring/prometheus/PrometheusMetricsFactory.test.ts
  apps/api/src/infrastructure/monitoring/prometheus/PrometheusMetricsFactory.ts
  apps/api/src/infrastructure/monitoring/prometheus/adapters/PrometheusCounter.test.ts
  apps/api/src/infrastructure/monitoring/prometheus/adapters/PrometheusCounter.ts
  apps/api/src/infrastructure/monitoring/prometheus/adapters/PrometheusGauge.test.ts
  apps/api/src/infrastructure/monitoring/prometheus/adapters/PrometheusGauge.ts
  apps/api/src/infrastructure/monitoring/prometheus/adapters/PrometheusHistogram.test.ts
  apps/api/src/infrastructure/monitoring/prometheus/adapters/PrometheusHistogram.ts
  apps/api/src/infrastructure/monitoring/prometheus/adapters/PrometheusRegistry.test.ts
  apps/api/src/infrastructure/monitoring/prometheus/adapters/PrometheusRegistry.ts
  apps/api/src/infrastructure/testing/test-constants.ts
  packages/shared/src/testing/result-helpers.ts
  packages/shared/src/testing/test-utils.ts
Due: api

docs(todos): document evaluation of access modifier changes in Value Objects and Entities
  TODO.md
Due: none

feat: Add mandatory rules and architecture guidelines for project consistency
  .claude/AGREEMENTS.md
  .claude/README.md
  .claude/RULES.md
  .claude/commands/architecture.md
  .claude/commands/feature.md
  .claude/commands/refactor.md
  .claude/commands/test.md
  .claude/context.md
  .gitignore
  TODO.md
Due: none

refactor(api): implement IEnvironment interface to decouple Application layer
  TODO.md
  apps/api/src/application/factories/TokenFactory.test.ts
  apps/api/src/application/factories/TokenFactory.ts
  apps/api/src/domain/config/IEnvironment.ts
  apps/api/src/infrastructure/testing/test-env.ts
Due: api

docs(todos): Add evaluation section for IEnvironment naming convention in TODO.md
  TODO.md
Due: none

feat: Add architecture-aligned import paths and update related configurations
  .claude/AGREEMENTS.md
  apps/api/src/application/factories/TokenFactory.ts
  apps/api/src/infrastructure/http/routes/auth.ts
  apps/api/src/infrastructure/monitoring/prometheus/adapters/PrometheusHistogram.ts
  apps/api/tsconfig.json
  apps/api/vitest.config.ts
Due: api

feat(auth): implement AuthService for JWT authentication and role verification
  TODO.md
  apps/api/src/infrastructure/auth/AuthService.test.ts
  apps/api/src/infrastructure/auth/AuthService.ts
  apps/api/src/infrastructure/http/middleware/auth.ts
  apps/api/src/infrastructure/testing/test-env.ts
Due: api

feat(todos): add a sophisticated error management system proposal in TODO.md
  TODO.md
Due: none

WIP: changes with errors
  TODO.md
  packages/shared/package.json
  packages/shared/src/errors/AuthenticationError.test.ts
  packages/shared/src/errors/AuthenticationError.ts
  packages/shared/src/errors/AuthorizationError.test.ts
  packages/shared/src/errors/AuthorizationError.ts
  packages/shared/src/errors/BusinessRuleError.test.ts
  packages/shared/src/errors/BusinessRuleError.ts
  packages/shared/src/errors/ConflictError.test.ts
  packages/shared/src/errors/ConflictError.ts
  packages/shared/src/errors/ExternalServiceError.test.ts
  packages/shared/src/errors/ExternalServiceError.ts
  packages/shared/src/errors/InternalError.test.ts
  packages/shared/src/errors/InternalError.ts
  packages/shared/src/errors/NotFoundError.test.ts
  packages/shared/src/errors/NotFoundError.ts
  packages/shared/src/errors/ValidationError.test.ts
  packages/shared/src/errors/ValidationError.ts
  packages/shared/src/errors/core.test.ts
  packages/shared/src/errors/core.ts
  packages/shared/src/errors/error-handler.test.ts
  packages/shared/src/errors/error-handler.ts
  packages/shared/src/errors/index.ts
  packages/shared/src/errors/testing/TestError.ts
  packages/shared/src/index.ts
Due: shared

chore(deps): update package versions in package.json and pnpm-lock.yaml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore: update code structure for improved readability and maintainability
  packages/mcp-database/package.json
  packages/mcp-testing/package.json
  pnpm-lock.yaml
Due: none

feat: update MCP server to use McpServer API and integrate Zod for schema validation
  packages/mcp-database/package.json
  packages/mcp-database/src/index.ts
  packages/mcp-database/src/use-cases/GetDatabaseSchemaUseCase.ts
  packages/mcp-testing/package.json
  packages/mcp-testing/src/index.ts
  pnpm-lock.yaml
Due: none

feat: integrate Swagger/OpenAPI documentation for API endpoints
  apps/api/package.json
  apps/api/src/app.ts
  apps/api/src/infrastructure/config/swagger.ts
  apps/api/src/infrastructure/http/routes/auth.ts
  apps/api/src/infrastructure/http/routes/teams.ts
  apps/api/src/infrastructure/http/routes/users.ts
  apps/api/src/infrastructure/http/schemas/auth.ts
  apps/api/src/infrastructure/http/schemas/common.ts
  apps/api/src/infrastructure/http/schemas/teams.ts
  apps/api/src/infrastructure/http/schemas/users.ts
  pnpm-lock.yaml
Due: api

fix: configure Ajv to allow OpenAPI keywords in schemas
  apps/api/src/app.ts
Due: api

fix: properly handle Zod validation errors in error handler
  apps/api/src/infrastructure/http/utils/error-handler.ts
Due: api

fix: handle Fastify schema validation errors in error handler
  apps/api/src/infrastructure/http/utils/error-handler.ts
Due: api

fix: use centralized error handler for consistent validation error formatting
  apps/api/src/app.ts
Due: api

fix: handle Fastify schema validation errors in error handler
  apps/api/src/infrastructure/http/schemas/auth.ts
  apps/api/src/infrastructure/http/schemas/common.ts
  apps/api/src/infrastructure/http/schemas/teams.ts
  apps/api/src/infrastructure/http/schemas/users.ts
Due: api

fix: properly handle Zod validation errors in error handler
  apps/api/src/infrastructure/http/schemas/auth.ts
  apps/api/src/infrastructure/http/schemas/common.ts
  apps/api/src/infrastructure/http/schemas/teams.ts
  apps/api/src/infrastructure/http/schemas/users.ts
Due: api

feat: configure Ajv to allow OpenAPI keywords in schemas
  apps/api/src/app.ts
Due: api

fix: align Fastify query schemas with Zod validation expectations
  apps/api/src/infrastructure/http/schemas/teams.ts
  apps/api/src/infrastructure/http/schemas/users.ts
Due: api

feat: add REST Client HTTP request collections for API testing
  apps/api/http/.gitignore
  apps/api/http/README.md
  apps/api/http/auth.http
  apps/api/http/environments/local.http
  apps/api/http/health.http
  apps/api/http/teams.http
  apps/api/http/users.http
Due: none

fix: correct REST Client variable syntax in HTTP files
  apps/api/http/README.md
  apps/api/http/auth.http
  apps/api/http/environments/local.http
  apps/api/http/health.http
  apps/api/http/teams.http
  apps/api/http/users.http
Due: none

feat: use VSCode environment variables for REST Client configuration
  .gitignore
  .vscode/settings.json
  apps/api/http/.gitignore
  apps/api/http/README.md
  apps/api/http/auth.http
  apps/api/http/health.http
  apps/api/http/teams.http
  apps/api/http/users.http
Due: none

fix: remove problematic client.global.set() scripts from REST Client files
  apps/api/http/auth.http
  apps/api/http/teams.http
Due: none

feat: use named requests for automatic token and ID persistence
  apps/api/http/README.md
  apps/api/http/auth.http
  apps/api/http/teams.http
  apps/api/http/users.http
Due: none

feat: use shared _variables.http file for cross-file token persistence
  apps/api/http/.gitignore
  apps/api/http/README.md
  apps/api/http/_variables.http.example
  apps/api/http/auth.http
  apps/api/http/teams.http
  apps/api/http/users.http
Due: none

Path conditions:
  api: any of: apps/api/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.config.ts, **/*.d.ts, **/test/**, **/testing/**, **/coverage/**, **/dist/**, **/node_modules/**, **/.github/**
  web: any of: apps/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.config.ts, **/*.d.ts, **/test/**, **/testing/**, **/coverage/**, **/dist/**, **/node_modules/**, **/.github/**
  shared: any of: packages/shared/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.config.ts, **/*.d.ts, **/test/**, **/testing/**, **/coverage/**, **/dist/**, **/node_modules/**, **/.github/**
