Repository AgonisticKatai/team-pulse: changes, and which Codecov flags are due for each by the changed paths.
All: api, web, shared

feat: Add HTTP client configuration and request files for API testing
  apps/api/http-client/README.md
  apps/api/http-client/auth.http
  apps/api/http-client/settings.example.json
  apps/api/http-client/teams.http
  apps/api/http-client/users.http
Due: none

refactor: improve schema explanation readability - remove console logs from MCP servers, and add descriptive comments to HTTP client files.
  apps/api/http-client/auth.http
  apps/api/http-client/teams.http
  apps/api/http-client/users.http
  packages/mcp-database/src/index.ts
  packages/mcp-database/src/use-cases/ExplainSchemaRelationshipsUseCase.ts
  packages/mcp-testing/src/index.ts
Due: none

feat(shared): add core error system with enum-like constants
  .claude/AGREEMENTS.md
  biome.json
  packages/shared/src/errors/core.ts
Due: shared

feat(errors): add error codes and types for specific error identification
  packages/shared/src/errors/core.ts
Due: shared

feat(shared): implement comprehensive error management system
  packages/shared/package.json
Due: none

feat(shared): implement comprehensive error management system
  packages/shared/README.md
  packages/shared/src/errors/AuthenticationError.test.ts
  packages/shared/src/errors/AuthenticationError.ts
  packages/shared/src/errors/AuthorizationError.test.ts
  packages/shared/src/errors/AuthorizationError.ts
  packages/shared/src/errors/BusinessRuleError.test.ts
  packages/shared/src/errors/BusinessRuleError.ts
  packages/shared/src/errors/ConflictError.test.ts
  packages/shared/src/errors/ConflictError.ts
  packages/shared/src/errors/ExternalServiceError.test.ts
  packages/shared/src/errors/ExternalServiceError.ts
  packages/shared/src/errors/InternalError.test.ts
  packages/shared/src/errors/InternalError.ts
  packages/shared/src/errors/NotFoundError.test.ts
  packages/shared/src/errors/NotFoundError.ts
  packages/shared/src/errors/ValidationError.test.ts
  packages/shared/src/errors/ValidationError.ts
  packages/shared/src/errors/core.test.ts
  packages/shared/src/errors/core.ts
  packages/shared/src/errors/index.ts
  packages/shared/src/testing/constants.ts
  packages/shared/tsconfig.json
  packages/shared/vitest.config.ts
Due: shared

feat: Implement framework-agnostic error handling infrastructure
  packages/shared/README.md
  packages/shared/package.json
  packages/shared/src/errors/core.test.ts
  packages/shared/src/errors/core.ts
  packages/shared/src/errors/handler/error-handler.test.ts
  packages/shared/src/errors/handler/error-handler.ts
  packages/shared/src/errors/handler/error-response.test.ts
  packages/shared/src/errors/handler/error-response.ts
  packages/shared/src/errors/handler/http-status-codes.test.ts
  packages/shared/src/errors/handler/http-status-codes.ts
  packages/shared/src/errors/handler/index.ts
  packages/shared/src/errors/handler/logger.test.ts
  packages/shared/src/errors/handler/logger.ts
  packages/shared/src/testing/constants.ts
Due: shared

chore: update dependencies to latest versions
  .claude/context.md
  apps/api/Dockerfile
  apps/api/package.json
  apps/web/package.json
  package.json
  packages/mcp-database/package.json
  packages/mcp-testing/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

feat(logging): implement FastifyLogger adapter and error handling middleware
  TODO.md
  apps/api/src/infrastructure/http/middleware/error-handler.test.ts
  apps/api/src/infrastructure/http/middleware/error-handler.ts
  apps/api/src/infrastructure/logging/FastifyLogger.test.ts
  apps/api/src/infrastructure/logging/FastifyLogger.ts
  packages/shared/src/testing/constants.ts
Due: api

feat(logging): integrate FastifyLogger for enhanced error handling in auth, teams, and users routes
  apps/api/src/infrastructure/http/routes/auth.ts
  apps/api/src/infrastructure/http/routes/teams.ts
  apps/api/src/infrastructure/http/routes/users.ts
Due: api

feat(error-handling): integrate Zod validation error handling and refactor global error handler
  apps/api/src/app.ts
  apps/api/src/infrastructure/http/routes/protected.test.ts
  apps/api/src/infrastructure/http/utils/error-handler.ts
  packages/shared/src/errors/handler/error-handler.test.ts
  packages/shared/src/errors/handler/error-handler.ts
Due: api, shared

docs: update todo
  TODO.md
Due: none

feat(errors): refactor error handling to use AuthenticationError and update tests accordingly
  .claude/AGREEMENTS.md
  TODO.md
  apps/api/src/application/factories/TokenFactory.test.ts
  apps/api/src/application/factories/TokenFactory.ts
  apps/api/src/application/use-cases/LoginUseCase.test.ts
  apps/api/src/application/use-cases/LoginUseCase.ts
  apps/api/src/application/use-cases/RefreshTokenUseCase.test.ts
  apps/api/src/application/use-cases/RefreshTokenUseCase.ts
  apps/api/src/infrastructure/auth/AuthService.test.ts
  apps/api/src/infrastructure/auth/AuthService.ts
Due: api

feat(errors): replace DuplicatedError with ConflictError in use cases and tests for consistency
  TODO.md
  apps/api/src/application/use-cases/CreateTeamUseCase.test.ts
  apps/api/src/application/use-cases/CreateTeamUseCase.ts
  apps/api/src/application/use-cases/CreateUserUseCase.test.ts
  apps/api/src/application/use-cases/CreateUserUseCase.ts
  apps/api/src/application/use-cases/DeleteTeamUseCase.test.ts
  apps/api/src/application/use-cases/DeleteTeamUseCase.ts
  apps/api/src/application/use-cases/GetTeamUseCase.test.ts
  apps/api/src/application/use-cases/GetTeamUseCase.ts
  apps/api/src/application/use-cases/UpdateTeamUseCase.test.ts
  apps/api/src/application/use-cases/UpdateTeamUseCase.ts
Due: api

chore: update Node.js version requirement to 25.2.1 in README and .nvmrc
  .nvmrc
  README.md
  pnpm-lock.yaml
Due: none

refactor: replace NotFoundError with AuthenticationError in RefreshTokenUseCase
  TODO.md
  apps/api/src/application/use-cases/RefreshTokenUseCase.test.ts
  apps/api/src/application/use-cases/RefreshTokenUseCase.ts
  apps/api/src/domain/errors/DuplicatedError.test.ts
  apps/api/src/domain/errors/DuplicatedError.ts
  apps/api/src/domain/errors/NotFoundError.test.ts
  apps/api/src/domain/errors/NotFoundError.ts
  apps/api/src/domain/errors/index.ts
  packages/shared/src/errors/handler/error-handler.ts
Due: api, shared

feat(errors): enhance error handling with additional properties and metadata support
  apps/api/src/domain/errors/DomainError.test.ts
  apps/api/src/domain/errors/DomainError.ts
  apps/api/src/domain/errors/RepositoryError.test.ts
  apps/api/src/domain/errors/RepositoryError.ts
  apps/api/src/domain/errors/ValidationError.test.ts
  apps/api/src/domain/errors/ValidationError.ts
  packages/shared/src/errors/AuthenticationError.test.ts
  packages/shared/src/errors/AuthorizationError.test.ts
  packages/shared/src/errors/BusinessRuleError.test.ts
  packages/shared/src/errors/ConflictError.test.ts
  packages/shared/src/errors/ExternalServiceError.test.ts
  packages/shared/src/errors/InternalError.test.ts
  packages/shared/src/errors/NotFoundError.test.ts
  packages/shared/src/errors/ValidationError.test.ts
  packages/shared/src/errors/core.test.ts
  packages/shared/src/errors/core.ts
Due: api, shared

feat(report): add comprehensive error management report detailing current status
  apps/api/src/application/factories/TokenFactory.ts
  apps/api/src/application/use-cases/CreateTeamUseCase.test.ts
  apps/api/src/application/use-cases/CreateTeamUseCase.ts
  apps/api/src/application/use-cases/CreateUserUseCase.ts
  apps/api/src/application/use-cases/ListTeamsUseCase.ts
  apps/api/src/application/use-cases/ListUsersUseCase.ts
  apps/api/src/application/use-cases/LoginUseCase.ts
  apps/api/src/application/use-cases/RefreshTokenUseCase.ts
  apps/api/src/application/use-cases/UpdateTeamUseCase.test.ts
  apps/api/src/application/use-cases/UpdateTeamUseCase.ts
  apps/api/src/domain/errors/ValidationError.test.ts
  apps/api/src/domain/errors/ValidationError.ts
  apps/api/src/domain/errors/index.ts
  apps/api/src/domain/models/RefreshToken.test.ts
  apps/api/src/domain/models/RefreshToken.ts
  apps/api/src/domain/models/Team.test.ts
  apps/api/src/domain/models/Team.ts
  apps/api/src/domain/models/User.test.ts
  apps/api/src/domain/models/User.ts
  apps/api/src/domain/value-objects/City.test.ts
  apps/api/src/domain/value-objects/City.ts
  apps/api/src/domain/value-objects/Email.test.ts
  apps/api/src/domain/value-objects/Email.ts
  apps/api/src/domain/value-objects/EntityId.test.ts
  apps/api/src/domain/value-objects/EntityId.ts
  apps/api/src/domain/value-objects/FoundedYear.test.ts
  apps/api/src/domain/value-objects/FoundedYear.ts
  apps/api/src/domain/value-objects/Pagination.ts
  apps/api/src/domain/value-objects/Role.test.ts
  apps/api/src/domain/value-objects/Role.ts
  apps/api/src/domain/value-objects/TeamName.test.ts
  apps/api/src/domain/value-objects/TeamName.ts
  apps/api/src/infrastructure/auth/AuthService.test.ts
  apps/api/src/infrastructure/auth/AuthService.ts
  apps/api/src/infrastructure/database/repositories/DrizzleRefreshTokenRepository.ts
  apps/api/src/infrastructure/database/repositories/DrizzleTeamRepository.ts
  apps/api/src/infrastructure/database/repositories/DrizzleUserRepository.ts
  packages/shared/src/errors/ValidationError.test.ts
  packages/shared/src/errors/ValidationError.ts
Due: api, shared

refactor: consolidate RepositoryError handling and update imports
  apps/api/src/application/use-cases/CreateTeamUseCase.test.ts
  apps/api/src/application/use-cases/CreateTeamUseCase.ts
  apps/api/src/application/use-cases/CreateUserUseCase.test.ts
  apps/api/src/application/use-cases/CreateUserUseCase.ts
  apps/api/src/application/use-cases/DeleteTeamUseCase.test.ts
  apps/api/src/application/use-cases/DeleteTeamUseCase.ts
  apps/api/src/application/use-cases/GetTeamUseCase.ts
  apps/api/src/application/use-cases/ListTeamsUseCase.ts
  apps/api/src/application/use-cases/ListUsersUseCase.ts
  apps/api/src/application/use-cases/LoginUseCase.test.ts
  apps/api/src/application/use-cases/LoginUseCase.ts
  apps/api/src/application/use-cases/RefreshTokenUseCase.test.ts
  apps/api/src/application/use-cases/RefreshTokenUseCase.ts
  apps/api/src/application/use-cases/UpdateTeamUseCase.test.ts
  apps/api/src/application/use-cases/UpdateTeamUseCase.ts
  apps/api/src/domain/errors/RepositoryError.test.ts
  apps/api/src/domain/errors/RepositoryError.ts
  apps/api/src/domain/errors/RepositoryError.types.ts
  apps/api/src/domain/errors/index.ts
  apps/api/src/domain/repositories/IRefreshTokenRepository.ts
  apps/api/src/domain/repositories/ITeamRepository.ts
  apps/api/src/domain/repositories/IUserRepository.ts
  apps/api/src/domain/services/IPasswordHasher.ts
  apps/api/src/infrastructure/auth/ScryptPasswordHasher.ts
  apps/api/src/infrastructure/database/repositories/DrizzleRefreshTokenRepository.ts
  apps/api/src/infrastructure/database/repositories/DrizzleTeamRepository.ts
  apps/api/src/infrastructure/database/repositories/DrizzleUserRepository.ts
  packages/shared/src/errors/RepositoryError.ts
  packages/shared/src/errors/core.ts
  packages/shared/src/errors/index.ts
Due: api, shared

refactor(errors): remove DomainError and related test files to streamline error handling
  apps/api/src/domain/errors/DomainError.test.ts
  apps/api/src/domain/errors/DomainError.ts
  apps/api/src/domain/errors/index.ts
Due: api

test(errors): add comprehensive tests for RepositoryError class
  packages/shared/src/errors/RepositoryError.test.ts
Due: none

docs: add shared documentation folder
  .claude/AGREEMENTS.md
  .claude/context.md
  docs/api/compression.md
  docs/api/database.md
  docs/api/http-client.md
  docs/api/logging.md
  docs/api/migrations.md
  docs/api/monitoring.md
  docs/api/testing.md
  docs/deployment/README.md
  docs/errors/README.md
  docs/mcp/README.md
  docs/packages/mcp-database.md
  docs/packages/mcp-testing.md
  docs/packages/shared.md
Due: none

refactor(migrate): update path resolution for migrations and enhance error handling
  apps/api/src/infrastructure/database/migrate.ts
Due: api

refactor(migrate): update path resolution to use __dirname for migrations
  apps/api/src/infrastructure/database/migrate.ts
Due: api

chore: update deps
  package.json
  pnpm-lock.yaml
Due: none

feat: Allow skipping database migrations during app startup and add dedicated CI/CD migration script
  apps/api/src/app.test.ts
  apps/api/src/app.ts
  apps/api/src/infrastructure/http/middleware/compression.integration.test.ts
  apps/api/src/infrastructure/http/middleware/correlation-id.integration.test.ts
  apps/api/src/infrastructure/http/middleware/metrics.test.ts
  apps/api/src/infrastructure/http/routes/auth.test.ts
  apps/api/src/infrastructure/http/routes/protected.test.ts
  apps/api/src/scripts/migrate.ts
Due: api

ci: add database migration steps to the deploy workflow
  .github/workflows/deploy.yml
Due: none

chore: Update deploy workflow to use `pnpm --filter` for running database migrations
  .github/workflows/deploy.yml
Due: none

ci: add `db:migrate:ci` script and update deploy workflow to use it for database migrations
  .github/workflows/deploy.yml
  apps/api/package.json
Due: none

feat: Add reusable workflows for CI/CD pipeline
  .github/workflows/README.md
  .github/workflows/_reusable-deploy.yml
  .github/workflows/_reusable-migrate.yml
  .github/workflows/_reusable-setup.yml
  .github/workflows/_reusable-test.yml
  .github/workflows/ci-cd.yml
  .github/workflows/deploy.yml
  .github/workflows/setup-secrets.sh
  apps/api/src/app.test.ts
  apps/api/src/app.ts
  apps/api/src/infrastructure/http/middleware/compression.integration.test.ts
  apps/api/src/infrastructure/http/middleware/correlation-id.integration.test.ts
  apps/api/src/infrastructure/http/middleware/metrics.test.ts
  apps/api/src/infrastructure/http/routes/auth.test.ts
  apps/api/src/infrastructure/http/routes/protected.test.ts
  apps/api/src/scripts/run-migrations.ts
Due: api

chore: Remove optional GITHUB_TOKEN from workflows for cleaner configuration
  .github/workflows/README.md
  .github/workflows/_reusable-deploy.yml
  .github/workflows/_reusable-test.yml
  .github/workflows/ci-cd.yml
Due: none

chore: Update pnpm version to 10 in reusable workflows
  .github/workflows/_reusable-migrate.yml
  .github/workflows/_reusable-setup.yml
  .github/workflows/_reusable-test.yml
Due: none

chore: Remove pnpm version specification from reusable workflows
  .github/workflows/_reusable-migrate.yml
  .github/workflows/_reusable-test.yml
Due: none

chore: Update CI badge in README to point to the combined CI/CD workflow
  README.md
Due: none

chore: update pnpm package manager version to 10.24.0
  package.json
  pnpm-lock.yaml
Due: none

refactor: standardize use case execute method signatures to accept a single object argument
  apps/api/src/application/use-cases/CreateTeamUseCase.test.ts
  apps/api/src/application/use-cases/CreateTeamUseCase.ts
  apps/api/src/application/use-cases/CreateUserUseCase.test.ts
  apps/api/src/application/use-cases/CreateUserUseCase.ts
  apps/api/src/application/use-cases/DeleteTeamUseCase.test.ts
  apps/api/src/application/use-cases/DeleteTeamUseCase.ts
  apps/api/src/application/use-cases/GetTeamUseCase.test.ts
  apps/api/src/application/use-cases/GetTeamUseCase.ts
  apps/api/src/application/use-cases/ListTeamsUseCase.test.ts
  apps/api/src/application/use-cases/ListTeamsUseCase.ts
  apps/api/src/application/use-cases/ListUsersUseCase.test.ts
  apps/api/src/application/use-cases/ListUsersUseCase.ts
  apps/api/src/application/use-cases/LoginUseCase.test.ts
  apps/api/src/application/use-cases/LoginUseCase.ts
  apps/api/src/application/use-cases/LogoutUseCase.test.ts
  apps/api/src/application/use-cases/LogoutUseCase.ts
  apps/api/src/application/use-cases/RefreshTokenUseCase.test.ts
  apps/api/src/application/use-cases/RefreshTokenUseCase.ts
  apps/api/src/application/use-cases/UpdateTeamUseCase.test.ts
  apps/api/src/application/use-cases/UpdateTeamUseCase.ts
  apps/api/src/infrastructure/http/routes/auth.ts
  apps/api/src/infrastructure/http/routes/teams.ts
  apps/api/src/infrastructure/http/routes/users.ts
Due: api

refactor: complete Use Case refactoring to use named parameters in `execute()` methods
  TODO.md
Due: none

refactor: replace expectError with expectErrorType in API Use Case tests for improved consistency
  TODO.md
  apps/api/src/application/use-cases/CreateTeamUseCase.test.ts
  apps/api/src/application/use-cases/DeleteTeamUseCase.test.ts
  apps/api/src/application/use-cases/GetTeamUseCase.test.ts
  apps/api/src/application/use-cases/UpdateTeamUseCase.test.ts
Due: none

feat: centralize metrics configuration and enforce type-safe parameters for all metric operations
  TODO.md
  apps/api/src/domain/services/IMetricsService.ts
  apps/api/src/domain/services/metrics/metrics.config.ts
  apps/api/src/domain/services/metrics/metrics.types.ts
  apps/api/src/infrastructure/http/middleware/metrics.ts
  apps/api/src/infrastructure/monitoring/MetricsService.test.ts
  apps/api/src/infrastructure/monitoring/MetricsService.ts
  apps/api/src/infrastructure/monitoring/prometheus/PrometheusMetricsFactory.test.ts
  apps/api/src/infrastructure/monitoring/prometheus/PrometheusMetricsFactory.ts
  packages/shared/src/testing/constants.ts
Due: api

feat: add todo containing frontend roadmap and current system assessment
  apps/web/TODO.md
Due: none

Path conditions:
  api: any of: apps/api/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.config.ts, **/*.d.ts, **/test/**, **/testing/**, **/coverage/**, **/dist/**, **/node_modules/**, **/.github/**
  web: any of: apps/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.config.ts, **/*.d.ts, **/test/**, **/testing/**, **/coverage/**, **/dist/**, **/node_modules/**, **/.github/**
  shared: any of: packages/shared/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.config.ts, **/*.d.ts, **/test/**, **/testing/**, **/coverage/**, **/dist/**, **/node_modules/**, **/.github/**
